[Unit]
Description=Toilet finder Pi application
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/TTM4115/RPi/src
Environment="PATH=/home/pi/berryconda3/bin:$PATH"
ExecStart=/home/pi/berryconda3/bin/python main.py
Restart=on-failure
KillSignal=SIGINT
KillMode=process

[Install]
WantedBy=multi-user.target
